/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/Fondo1.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
}
@media (min-width: 1700px) {
    body {
        background-image: url(assets/Fondo1.png);
        background-repeat: no-repeat;
        background-size: auto 120%;
        background-attachment: fixed;
    }
}
