<div class="container">
    <div class="row justify-content-between login">
        <div class="col-xl-6 col-md-6 col-12 align-self-center pt-5 
                    animate__animated animate__fadeIn">
            <img src="../../../../assets/Metaverso.png" alt="" style="width: 100%;">
            <div class="text-center">
                <p class="me-5 mt-5 text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed Lorem ipsum
                    dolor sit
                    amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                    nostrud exerci tation ullamcorper suscipit</p>
            </div>
        </div>
        <div class="col-xl-5 col-md-5 col-12 align-self-center ps-5 form_login">
            <form class="text-white animate__animated animate__fadeIn">
                <div class="d-flex align-items-center justify-content-center m-5">
                    <h1>¡Bienvenido/a!</h1>
                </div>
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" autocomplete="off" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Nombre Completo" />
                </div>
                <!-- Celular input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" autocomplete="off" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Celular" />
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3"  autocomplete="off" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Correo Electronico" />
                </div>
                <!-- Entidad input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" autocomplete="off" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Entidad" />
                </div>
                <!-- Área o dependencia input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" autocomplete="off" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Área o dependencia" />
                </div>
                <!-- Cargo input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-md rounded-3 input_login"
                        placeholder="Cargo" />
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                            Acepto tratamiento de datos
                        </label>
                    </div>
                </div>

                <div class="text-center text-lg-center mt-4 mb-5 pt-2">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary rounded-5 btn_login animate__animated animate__pulse animate__delay-1s animate__repeat-2" type="button">¡Registrarme ahora!</button>
                    </div>
                    <p class="small fw-bold mt-2 pt-2 mb-0 me-5">Ya tengo una cuenta<button type="button" class="btn btn-outline-primary rounded-5 ms-3 text-white">¡Ingresar!</button></p>
                </div>

                <!--Iconos-->
                <div class="text-lg-center mt-5 pt-2 icons_login">
                    <p>Síguenos en</p>
                    <div class="icons">
                        <a class="ms-3 me-3" href="">
                            <img src="../../../../assets/Asset 15.png" alt="monodual facebook">
                        </a>
                        <a class="me-3" href="">
                            <img src="../../../../assets/Asset 20.png" alt="monodual instagram">
                        </a>
                        <a class="me-3" href="">
                            <img src="../../../../assets/Asset 21.png" alt="monodual Twitter">
                        </a>
                        <a href="#">
                            <img src="../../../../assets/Asset 22.png" alt="monodual Linkedin">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>